@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@font-face {
    font-family: 'fonteAmor';
    src: url(../font/schnookums/Schnookums.ttf) format('truetype');
}

:root {
    --font01: 'fonteAmor', 'Sacramento', cursive;
    --font02: 'Indie Flower', cursive;
    --font03: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --cor01: #05DBF2;
    --cor02: #04B2D9;
    --cor03: #F24405;
    --cor04: #F20519;
    --cor05: #00010D;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font03);
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--cor05);
}
header {
    background-color: var(--cor05);
}


header h1 {
    display: inline-block;
    font-family: var(--font01);
    padding: 10px;
    padding-left: 10vw;
    font-weight: bold;
    font-size: 7vmin;

    background-image: linear-gradient(to left, var(--cor01)10%,var(--cor02),var(--cor03), var(--cor04)80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

main {
    background-color: white;
    min-width: 50px;

    margin: auto;
}
main section {
    padding: 70px 0;
}
main .normal {
    padding: 10px 30px;
    padding-left: 10vw;
}

main section p {
    display: inline-block;
    font-family: var(--font02);
    font-size: 5vmin;
    line-height: 3em;
    padding: 5px 30px;
    border-radius: 10px;
    
}

main .parallax {
    min-height: 50vh;
    max-width: 100vw;
    background: blue url('../imagens/mar-baixo.jpg') center bottom fixed;
    background-size: cover;
}

main .parallax .texto-parallax {
    background-color: #00010da0
    ;
    color: white;
}

h1, .parallax .texto-parallax {
    left: 100%;
    position: relative;
    animation-name: direita;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

footer {
    background-color: var(--cor05);
    color: white;
    font-size: 0.8em;
    text-align: center;
}

@keyframes direita {
    0% {left: 100%;}
    100% {left: 0%;}
}

.normal > p {
    position: relative;
    animation-name: esquerda;
    animation-duration: 1s;
    
}

@keyframes esquerda {
    0% {left: -100%;}
    100% {left: 0%;}
}
